.pwd-services-list li {
	cursor: move;
	background: #fafafa;
	padding: 10px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.pwd-services-list li p {
	margin: 0;
}
.pwd-services-list li label {
	margin-bottom: 3px;
	display: block;
	color: #222;
}
.pwd-services-list .placeholder {
	border: 1px dashed #e3e3e3;
}